@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;

    // default-layout-header-height
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

h1 {
    color: red;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
